.fbg{
    background-image: url(../images/pexels-pixabay-356079.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.fcolor-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}